:root {
  --green-highlight: yellowgreen;
  --orange-highlight: #e8b90c;
  --blue-highlight: #00ccff;
  --p1-color: red;
  --p2-color: #ff8d00;
}

.logo {
  fill: url(#t3-gradient);
  width: 100vw;
  pointer-events: none;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-menu {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}

.main-menu .btn {
  font-family: "Gaegu", cursive;
  font-size: 30px;
}

.btn {
  font-family: "Gaegu", cursive;
  font-size: 30px;
  width: 150px;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #313131;
}

.btn:hover:not(.disabled) {
  color: #070707;
}

.main-menu .btn-interactive:hover {
  text-shadow: 2px 2px var(--green-highlight);
  animation: none;
}

.main-menu .btn-interactive {
  animation: shake2 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) 3400ms 2;
}

.main-menu .btn-automated {
  animation: wiggle 4s 2300ms 2;
}

.main-menu .btn-automated:hover {
  text-shadow: 2px 2px var(--blue-highlight);
  animation: none;
}

.info {
  font-family: "gaegu", cursive;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-turn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gradient-horizontal {
  --color-stop-1: #3bafff;
  --color-stop-2: #26a5d7;
  --color-stop-3: #00d4ff;
}

#t3-gradient {
  --t3-color-stop-1: palevioletred;
  --t3-color-stop-2: var(--green-highlight);
  --t3-color-stop-3: var(--blue-highlight);
}

.brush {
  width: 930px;
  height: 250px;
  position: absolute;
  bottom: 100px;
  z-index: -1;
  fill: url(#gradient-horizontal);
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  5% {
    transform: rotate(-10deg);
  }
  10% {
    transform: rotate(20deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(0deg);
  }
}

@keyframes shake2 {
  4%,
  36% {
    transform: translate3d(-1px, 0, 0);
  }

  8%,
  32% {
    transform: translate3d(2px, 0, 0);
  }

  12%,
  20%,
  28% {
    transform: translate3d(-4px, 0, 0);
  }

  16%,
  24% {
    transform: translate3d(4px, 0, 0);
  }

  /* 20% {} */
}
